.left
  %h1 Who is The Crossing Music
  =render :partial=>"news_box",:locals=>{:pic_name=>"bio_dave.jpg",:name=>"Dave Cover",:description=>"one of the founding pastors of The Crossing, oversees all things music and corporate worship"}
  =render :partial=>"news_box",:locals=>{:pic_name=>"bio_david.jpg",:name=>"David A Cover",:description=>"on staff at The Crossing since 2009, leads corporate worship and runs sound",:email=>"david@thecrossingchurch.com"}
  =render :partial=>"news_box",:locals=>{:pic_name=>"bio_scott.jpg",:name=>"Scott Johnson",:description=>"on staff at The Crossing since its start in 2000, leads corporate worship and creates video resources",:email=>"scott@thecrossingchurch.com"}
  =render :partial=>"news_box",:locals=>{:pic_name=>"bio_tim.jpg",:name=>"Tim Worstell",:description=>"on staff at The Crossing since 2010, makes problems go away and runs sound"}
  =render :partial=>"news_box",:locals=>{:pic_name=>"bio_camp.jpg",:name=>"Andrew Camp",:description=>"an intern and musician on the team, attends the University of Missouri as an undergrad"}
  =render :partial=>"news_box",:locals=>{:pic_name=>"bio_christine.jpg",:name=>"Christine Cover",:description=>"an intern and vocalist on the team, attends the University of Missouri as an undergrad"}
  =render :partial=>"news_box",:locals=>{:pic_name=>"bio_rhett.jpg",:name=>"Rhett Johnson",:description=>"a volunteer musician on the team and helps lead corporate worship as well"}
  =render :partial=>"news_box",:locals=>{:pic_name=>"bio_luley.jpg",:name=>"Andrew Luley",:description=>"an intern and drummer on the team, in graduate school at the University of Missouri"}
  =render :partial=>"news_box",:locals=>{:pic_name=>"bio_ethan.jpg",:name=>"Ethan Vizitei",:description=>"a volunteer musician, the one responsible for making this website exist"}
.right=render(:partial=>"aside_about")
  