.left
  %h1 Who is The Crossing Music
  %p David A Cover - on staff at The Crossing, leads Corporate Worship, and runs sound
  %p Scott Johnson - on staff at The Crossing, leads Corporate Worship, and makes video resources
  %p Andrew Camp - an intern who attends the University of Missouri as an undergrad
  %p Christine Cover - an intern who attends the University of Missouri as an undergrad
  %p Andrew Luley - an intern who is in graduate school at the University of Missouri
  %p Rhett Johnson - volunteer who is a musician on the team and helps lead corporate worship as well
  %p Ethan Vizitei - volunteer musician and the one responsible for making this website exist
  %p Tim Worstell - on staff at The Crossing making problems go away and running sound
  %hr.clear
.right=render(:partial=>"aside_about")
  