.left
  %h1 Want to get ahold of us?
  %p If you need to contact someone immediately, you can pick up the phone and dial (573) 256-4410
  %h1 Write us a note
  %p Use the form below to send a note directly to David Cover
  =form_for(ContactMessage.new) do |f|