.left
  %h1 Welcome to The Crossing Music
  %br
  =raw(@home_presenter.news_feed)
  %br
  %br
  #logo_holder{:style=>"padding-left:150px;"}=image_tag("biglogo.jpg")
.right=render(:partial=>"aside_about")