.left
  %h1 Welcome to The Crossing Music
  %p Welcome to The Crossing Music’s official website. The Crossing Music is a group of staff, interns, and volunteers from the congregation of a church called The Crossing in Columbia, Missouri. 
  %p 
    We hope to have music, chords, and other resources here for you soon. For now, click on the 
    = link_to %Q{"Songs"},songs_path  
    tab and check out some of our demos we’ve been working on. You can help us choose which songs we’ll record in a studio for our first little EP by rating them.
  %p 
    Our goal for this project is to get some of the songs that have been written by our church into the hands 
    %i of 
    our church. We have little intention of doing much “promoting” outside of The Crossing and other churches with which we have relationships. We want to be God glorifying, praying against little idols that can block our view of seeing and worshiping the Eternal King. We pray that the music, lyrics, and arrangements will help you to pursue a lifestyle of worship to the Father, Son, and Holy Spirit.
  %hr.clear
.right=render(:partial=>"aside_about")