.left
  %h1 Welcome to The Crossing Music
  %p
    We hope to have music, chords, and other resources here for you soon. For now, click on the 
    %a{:href=>url_for(Song.ordered.first),:style=>"text-decoration:none;"} SONGS
    tab and check out some of our demos we’ve been working on. You can help us choose which songs we’ll record in a studio for our first little EP by rating them.
  %hr.clear
  %br
  %br
  #logo_holder{:style=>"padding-left:150px;"}=image_tag("biglogo.jpg")
.right=render(:partial=>"aside_about")