.left
  %h1 Welcome to The Crossing
  %p  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis facilisis dapibus tincidunt. Aliquam non mauris ac urna pretium malesuada. Mauris viverra fringilla lectus, nec congue neque adipiscing ultrices. Nulla vel magna in leo mattis congue in eget quam. Proin dignissim nunc vitae nunc euismod sollicitudin. Nullam pretium placerat eleifend. Aliquam erat volutpat. Nunc et massa nisl, lacinia pharetra eros. In sit amet augue a ante tincidunt viverra. Sed magna nibh, condimentum nec dictum in, tempor eget turpis. Vivamus odio erat, pulvinar vel bibendum at, faucibus ut libero. Donec porta, purus ac hendrerit interdum, orci enim sodales libero, eget blandit nulla tortor vitae nisl. Duis vel purus lorem.
  %h1 Latest News
  .news_box_container
    .image
      %img{:src=>"/images/thumb1.jpg",:alt=>"Man",:width=>"130",:height=>"130",:border=>"0"}
    .text
      %h2
        %a{:href=>"#"} Butterfly Photoshoot
      %p Suspendisse dolor pede, tincidunt quis, pulvinar eu, ultrices nec, mauris. Suspendisse mollis augue sit amet dui. Phasellus mi sapien, hendrerit lacinia, elementum in, pretium sed, nulla. Disse mollis augue sit amet dui. Phasellus mi sapien, hendrerit lacinia, elementum in, pretium sed, nulla.
    .stats September 20, 2009  |  Category: Animals, Macro | Comments: 3
    %hr.clear
  .news_box_container
    .image
      %img{:src=>"/images/thumb2.jpg",:alt=>"Man",:width=>"130",:height=>"130",:border=>"0"}
    .text
      %h2
        %a{:href=>"#"} New Site Launch
      %p Suspendisse dolor pede, tincidunt quis, pulvinar eu, ultrices nec, mauris. Suspendisse mollis augue sit amet dui. Phasellus mi sapien, hendrerit lacinia, elementum in, pretium sed, nulla. Disse mollis augue sit amet dui. Phasellus mi sapien, hendrerit lacinia, elementum in, pretium sed, nulla.
    .stats September 20, 2009  |  Category: Animals, Macro | Comments: 3
    %hr.clear
  .news_box_container
    .image
      %img{:src=>"/images/thumb3.jpg",:alt=>"Man",:width=>"130",:height=>"130",:border=>"0"}
    .text
      %h2
        %a{:href=>"#"} Trip to the Zoo
      %p Suspendisse dolor pede, tincidunt quis, pulvinar eu, ultrices nec, mauris. Suspendisse mollis augue sit amet dui. Phasellus mi sapien, hendrerit lacinia, elementum in, pretium sed, nulla. Disse mollis augue sit amet dui. Phasellus mi sapien, hendrerit lacinia, elementum in, pretium sed, nulla.
    .stats September 20, 2009  |  Category: Animals, Macro | Comments: 3
    %hr.clear
.right
  .side_box
    .title About Me
    .about_me_thumb
      %img{:src=>"/images/thumb_me.jpg",:alt=>"Me"}
    .about_me_text My name is Hayley crook,
      I’m a designer/photographer from the Gold Coast, Australia.
    %hr.clear
  .side_box
    .title
      %div{:style=>"float:left; width:100px;"} Latest tweets</div>
      .twitter
        %img{:src=>"/images/icon_twitter.gif",:alt=>"twitter",:width=>"45",:height=>"26"}
    .tweet_text Just finising off my entry into the PSDTUTS portfolio competition.
    .tweet_date Posted 2009/09/18
    .tweet_text Photoshoot at the waterfall complete. Can’t wait to check the photos on the computer.
    .tweet_date Posted 2009/09/18
    %div{:align=>"right"}
      %a{:href=>"http://www.twitter.com"}
        %img{:src=>"/images/button_followme.gif",:alt=>"Follow Me",:border=>"0"}
    %hr.clear
  .side_box
    .title New Photos
    %ul.photo_thumb
      %li
        %img{:src=>"/images/thumb_tiny_1.jpg",:alt=>"1"}
      %li
        %img{:src=>"/images/thumb_tiny_2.jpg",:alt=>"2"}
      %li
        %img{:src=>"/images/thumb_tiny_3.jpg",:alt=>"3"}
      %li
        %img{:src=>"/images/thumb_tiny_4.jpg",:alt=>"4"}
      %li
        %img{:src=>"/images/thumb_tiny_5.jpg",:alt=>"5"}
      %li
        %img{:src=>"/images/thumb_tiny_6.jpg",:alt=>"6"}
    %hr.clear
  .side_box
    .title tags
    %ul.tags
      %li
        %a.size18{:href=>"#"} Animals
      %li
        %a{:href=>"#"} Landscape
      %li
        %a{:href=>"#"} Macro
      %li
        %a{:href=>"#"} Urban
      %li
        %a.size13{:href=>"#"} Panoramic 
      %li
        %a{:href=>"#"} Website Design
      %li
        %a{:href=>"#"} Butterfly
      %li
        %a{:href=>"#"} Lion
      %li
        %a.size18{:href=>"#"} Rhino
    %hr.clear