.side_box
  .title
    %div{:style=>"float:left; width:100px;"} VOTE HERE
    .icon
      %img{:src=>"/images/icon_eighth_note.gif",:alt=>"twitter",:width=>"26",:height=>"26"}
  -@songs.each do |song|
    .song=link_to song.name,song
    %hr.clear