.left
  %h1 The Crossing Music Demos
  -if false #current_user
    =button_to "Add a Song",new_song_path
  %p Help us choose which songs we should record for our first EP (short album)!
  %p Listen to each song and rate it, we’ll go to a real studio and record the favorite five or six tracks.
  %p Disclaimer: These are just demos and live recordings. A demo is a quick, unprofessional recording that allows the writers to get the main points of a song across but isn’t meant to be perfect or high quality. We’ve been learning how to do some “home recording” as we go so things might sound a little rough. You’ll hear a lot of imperfections in the live recordings as well. Hopefully you’ll hear enough to know if you like the song, but try and hear the song without being distracted by the recording quality or simplicity. Also, giving every song a good rating doesn’t help us, feel free to rate honestly.
  
.right=render :partial=>"playlist"