.full
  %h1 The Crossing Music Albums
  =render "display",:album=>@albums.first
  #discography
    %h3 Discography
    %ul#albums
      -@albums.each do |album|
        %li.album
          =link_to album do
            =image_tag album.cover.url(:thumb)
          %br
          =link_to album.name,album
          -if current_user
            \--    
            =link_to "edit",edit_album_path(album)
            \--
            =link_to "manage songs",album_songs_path(album)
  #disc_footer
    -if current_user
      =button_to "Add an Album",new_album_path
    %p Listen to and buy the latest projects from The Crossing Music
    #mp3_widget
      = raw(google_mp3_player "http://mp3.crossingsongs.com.s3.amazonaws.com/fixed/Forever_Home_Streaming_Sample.mp3")