=javascript_include_tag "highcharts","all_songs_chart"
#chart_data{:style=>"display:none;"}= @chart_data
#song_names{:style=>"display:none;"}= @song_names
.left
  %h1 Voting Results
  #all_songs_chart{:style=>"width:100%;height:100%;"} 
  =button_to("Reset Votes",reset_votes_path,:confirm=>"Are you sure you want to reset all the votes?") 
  %h1
  #all_songs_table{:style=>"width:100%;height:100%;"}
    %table
      %tr
        %th Name
        %th Positive
        %th Neutral
        %th Negative
      -@songs.each do |song|
        %tr
          %td=song.name
          %td=song.song_votes.positive.size
          %td=song.song_votes.neutral.size
          %td=song.song_votes.negative.size
