!!! XML
!!!
%html{:xmlns=>"http://www.w3.org/1999/xhtml"}
  %head
    %meta{"http-equiv"=>"Content-Type",:content=>"text/html",:charset=>"utf-8"}
    %title Crossing Music
    =stylesheet_link_tag "styles","jquery.lightbox-0.5"
    / start javascript for header slideshow
    = javascript_include_tag "jquery","rails","jquery.slideshow"
    :javascript
      $(document).ready(function() {
        setTimeout(function(){
          $('.imageNavigation').slideShow({ interval: 6, transition: { mode: 'fade', speed: 2000 } });
        },6000);
      });
    / end javascript for header slideshow 
    /start lightbox code
    = javascript_include_tag "jquery.lightbox-0.5.pack"
    :javascript
      $(function() {
        $('.lightbox').lightBox();
      });
    / end lightbox code
    = csrf_meta_tag 
  %body
    #wrapper
      #header
        #logo
          %img{:src=>"/images/crossing_logo.gif",:alt=>"Logo",:width=>"225",:height=>"46"}
        #menucontainer
          / a class of ".current" on the a tag will highlight it as being current context
          %ul
            %li
              %a{:href=>"/"}
                Home 
                %br
                %span where it begins
            %li
              %a{:href=>songs_path}
                Songs 
                %br
                %span cast your vote
            %li
              %a{:href=>"/about"}
                About 
                %br
                %span who we are
            %li
              -if current_user
                %a{:href=>logout_path}
                  Logout
                  %br
                  %span= current_user.name
              -else
                %a{:href=>login_path}
                  Login
                  %br
                  %span Team Members
      #banner
        .slide_container
          .imageNavigation.slideShow
            %ul.slides{:style=>"height:297px;"}
              %li.slide{:style=>"position:absolute;"}
                %img{:src=>"/images/cross_window.jpg",:alt=>"slide1"}
              %li.slide{:style=>"position:absolute; display:none;"}
                %img{:src=>"/images/piano_hands.jpg",:alt=>"slide2"}
              %li.slide{:style=>"position:absolute; display:none;"}
                %img{:src=>"/images/board_and_band.jpg",:alt=>"slide3"}
              %li.slide{:style=>"position:absolute; display:none;"}
                %img{:src=>"/images/panoramic_2.jpg",:alt=>"slide4"}
              %li.slide{:style=>"position:absolute; display:none;"}
                %img{:src=>"/images/sheet_music.jpg",:alt=>"slide5"}
        .menu
          .icon
            %img{:src=>"/images/icon_camera.gif",:alt=>"Camera",:width=>"30",:height=>"26"}
          %ul.submenu
            / %li
            /  %a{:href=>"#"} latest photos
      #maincontent
        =yield
      %hr.clear
    #footer
      .left &copy; The Crossing, 3615 Southland Dr, Columbia, MO 65201
      .right
        %a{:href=>"#"} Privacy 
        | 
        %a{:href=>"#"} Contact Us