!!! XML
!!!
%html{:xmlns=>"http://www.w3.org/1999/xhtml"}
  %head
    %meta{"http-equiv"=>"Content-Type",:content=>"text/html",:charset=>"utf-8"}
    %title Crossing Music
    =stylesheet_link_tag "styles","jquery.lightbox-0.5","jquery-ui"
    / start javascript for header slideshow
    = javascript_include_tag "jquery","rails","jquery.slideshow","jquery.twit","jquery-ui"
    :javascript
      $(document).ready(function() {
        $(".slide_container").click(function(){
          window.location = "http://thecrossingmusic.bandcamp.com";
        });
      });
    / end javascript for header slideshow 
    /start lightbox code
    = javascript_include_tag "jquery.lightbox-0.5.pack"
    :javascript
      $(function() {
        $('.lightbox').lightBox();
      });
    / end lightbox code
    = csrf_meta_tag 
  %body
    #wrapper
      #header
        #logo
          %img{:src=>"/images/crossingrecord_logo.png",:alt=>"Logo"}
        #menucontainer
          / a class of ".current" on the a tag will highlight it as being current context
          %ul
            %li
              %a{:href=>"/main/home",:class=>(@tab == "HOME" ? "current" : "")}
                Home 
                %br
                %span
            %li
              %a{:href=>albums_path,:class=>(@tab == "SONGS" ? "current" : "")}
                Songs 
                %br
                %span
            %li
              %a{:href=>"/contact",:class=>(@tab == "CONTACT" ? "current" : "")}
                Contact Us 
                %br
                %span
            %li
              %a{:href=>"/about",:class=>(@tab == "ABOUT" ? "current" : "")}
                About 
                %br
                %span
            %li
              -if current_user
                %a{:href=>logout_path}
                  Logout
                  %br
                  %span= current_user.name
              -else
                %a{:href=>login_path}
                  Login
                  %br
                  %span
            / -if current_user
            /   %li
            /     %a{:href=>all_song_charts_path,:class=>(@tab == "CHARTS" ? "current" : "")}
            /       Charts
            /       %br
            /       %span Voting Results
      #banner
        .slide_container
          .imageNavigation.slideShow
            %ul.slides{:style=>"height:297px;"}
              %li.slide{:style=>"position:absolute;"}
                %img{:src=>"/images/CROSSING_slide.jpg",:alt=>"slide1"}
      #maincontent
        =yield
      %hr.clear
    #footer
      .left &copy; The Crossing, 3615 Southland Dr, Columbia, MO 65201
      .right
        %a{:href=>"#"} Privacy 
        | 
        %a{:href=>"#"} Contact Us